$gold: #E5D697;
$grey-red: #D6D6D6;
$light-grey: #E8F4FA;
$light-brown: #DCC5B4;
$light-violet: #F4DAE2;
$white: #FFFFFF;
$brown: #977963;
$dark-green: #4D664D;
$dark-grey: #869791;
$grey: #D6D6D6;
$dark-brown: #2E2621;
$cream: #E3DCBF;
$dark-brown-2: #887678;
$light-purple: #C0B0C0;
$purple: #966488;
$dark-purple: #8A4B84;
$light-red: #97737A;
$dark-purple-2: #33232F;
$light-purple-2: #F3B9BF;
$light-purple-3: #D1BFE3;
$grey-2: #8B8384;