@import "./color.scss";
@import "./text.scss";
@import "./font.scss";
@import "./utilities.scss";

* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-image: url("../images/design1/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 760px;

    .wrapper {
        margin-top: 65px;
    }

    .right-section-header-content {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding: 12px;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(30,30,30,0.5);
    }
    
    .corner-decoration {
        position: absolute;

        &.top-left {
            top: 0;
            left: 0;
        }

        &.bottom-right {
            bottom: 0;
            right: 0;
            transform: scale(-1, -1);
        }
    }
    
    .navbar-wrapper {
        display: flex;
        justify-content: center;
    }
    
    .navbar {
        padding: 0;
        display: inline-block;
    }
    
    .navbar-item {
        display: inline-block;
        padding: 8px 16px;
        margin: auto;
        border-radius: 8px;
        cursor: pointer;
        font-family: "Montserrat", "sans-serif";
        border: 1px solid $gold;
        box-sizing: border-box;
    
        &:not(:last-child) {
            margin-right: 35px;
        }
    }
    
    .navbar-link {
        color: $gold;
        text-decoration: none;
        letter-spacing: 0.24em;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 22px;
    }
    
    .couple-header {
        position: relative;
        width: 100%;
        margin-top: 30px;
        height: 290px;
        float: right;
    }
    
    .couple-image-decoration {
        width: 100%;
        height: auto;
        position: absolute;
    }
    
    .couple-image-wrapper {
        left: 0;
        top: 18%;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .couple-image {
        border-radius: 50%;
        width: 120px;
        height: auto;
    }
    
    .positioning-wrapper {
        position: relative;
        height: 250px;
        width: 290px;
    
        .man {
            position: absolute;
            left: 0;
        }
    
        .woman {
            position: absolute;
            right: 0;
            top: 35%;
        }
    }
    
    .header-text {
        color: $white;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.24em;
        text-transform: uppercase;
    }
    
    .couple-name {
        font-family: "Great Vibes", "arial";
        text-align: center;
        font-size: 84px;
        line-height: 105px;
        margin: 32px auto 0 auto;
        color: $white;
        position: relative;
        width: 220px;
        height: 210px;
    
        .man-style {
            position: absolute;
            left: 0;
            top: 0;
            color: #E8F4FA;
        }
    
        .ampersand-style {
            font-size: 72px;
            line-height: 90px;
            position: absolute;
            top: 92px;
            left: 0;
            color: #DCC5B4;
        }
    
        .woman-style {
            position: absolute;
            bottom: 0;
            left: 50px;
            color: #F4DAE2;
        }
    }
    
    .counterdown {
        margin-top: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .counterdown-value {
        font-family: "Playfair Display", "sans-serif";
        letter-spacing: 0.25em;
        color: $gold;
        font-size: 54px;
        line-height: 72px;
        margin-bottom: 10px;
    }
    
    .counterdown-label {
        font-family: "Playfair Display", "sans-serif";
        font-size: 22px;
        line-height: 29px;
        letter-spacing: 0.25em;
        color: $white;
    }
    
    .separator {
        border: 1px solid $gold;
        margin: 38px 0px;
    }
    
    .event-info { 
        display: flex;   
        
        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }
    
    .icon-wrapper {
        color: $gold;
    }
    
    .info-content {
        margin-left: 30px;
        font-family: "Montserrat", "sans-senrif";
        font-size: 12px;
        letter-spacing: 0.2em;
        color: $white;
        display: inline-block;
        text-transform: uppercase;
    }
}

.about-couple {
    padding: 65px 12px;
    margin-left: auto;
    margin-right: auto;

    .title {
        font-family: "Montserrat", "sans-serif";
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25em;
        color: $brown;
        text-transform: uppercase;
    }

    .wrapper {
        position: relative;
        width: 100%;
        margin-top: 30px;
        height: 540px;
    }

    .couple-image {
        border-radius: 50%;
        width: 120px;
        height: auto;
        position: absolute;
        top: 0;
        z-index: 1;
        left: 34%;
    }

    .card {
        border: 1px solid $gold;
        box-sizing: border-box;
        border-radius: 14px;
        position: absolute;
        top: 90px;
        width: 420px;
        height: 420px;
        margin-left: auto;
        margin-right: auto;
        padding: 12px;
    }

    .couple-name {
        font-family: "Playfair Display", "sans-serif";
        font-size: 22px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.08em;
        color: $brown;
        width: 160px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
    }

    .couple-description {
        font-family: "Montserrat", "sans-serif";
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.08em;
        color: $dark-green;
        margin-top: 26px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .social-icons {
        margin-top: 40px;
    }

    .social-icon {
        color: $brown;
        font-size: 24px;

        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    .card-decoration {
        position: absolute;
        width: 340px;
        height: auto;
        bottom: 0;
        z-index: 1;
    }

    .card-decoration-left {
        left: 0;
    }

    .card-decoration-right {
        right: 0;
        transform: scaleX(-1);
    }
}

.tagline {
    background-image: url("../images/design1/tagline-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 390px;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(30,30,30,0.75);
    }


    .icon-wrapper {
        margin-top: 62px;
    }

    .icon {
        display: inline-block;
    }

    .tagline-text {
        font-family: "Montserrat", "sans-serif";
        text-align: center;
        letter-spacing: 0.12em;
        max-width: 690px;
        margin-left: auto;
        margin-right: auto;
        color: $white;
        line-height: 25px;
        font-size: 14px;
        width: 100%;
        margin-top: 54px;
        padding: 0 18px;
    }
}

.gallery {
    padding: 65px 12px;

    .title {
        font-family: "Montserrat", "sans-serif";
        text-align: center;
        letter-spacing: 0.25em;
        color: $brown;
        text-transform: uppercase;
        font-size: 18px;
    }
}

.map {
    background-image: url("../images/design1/map-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    height: 640px;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(30,30,30,0.5);
    }

    .title {
        font-family: "Montserrat", "sans-serif";
        letter-spacing: 0.25em;
        color: $white;
        text-align: center;
        margin-top: 65px;
        font-size: 18px;
    }

    .mapouter{
        position:relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 12px;
        margin-top: 30px;
        width: 100%;
    }
    
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        width: 100%;
    }
}

.footer {
    background-color: $dark-brown;
    width: 100%;
    padding: 65px 12px;

    .decoration-wrapper {
        width: 160px;
        height: 160px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    
        .decoration-image {
            width: 160px;
            height: auto;
            object-fit: cover;
            position: absolute;
        }

        .decoration-text {
            font-family: "Great Vibes", "sans-serif";
            font-size: 24px;
            line-height: 30px;
            color: $white;
            font-weight: 300;

            &.mini {
                font-size: 18px;
                line-height: 23px;
            }

            &.position-1 {
                position: absolute;
                top: 35px;
                left: 40px;
            }

            &.position-2 {
                position: absolute;
                top: 60px;
                left: 65px;
            }

            &.position-3 {
                position: absolute;
                top: 56px;
                left: 88px;
            }

            &.position-4 {
                position: absolute;
                top: 90px;
                left: 45px;
            }
        }
    }

    .social-icons {
        margin-top: 40px;
    }

    .social-icon {
        color: $brown;
        font-size: 24px;

        &:not(:last-child) {
            margin-right: 13px;
        }

        &:not(:first-child) {
            margin-left: 13px;
        }
    }

    .template-title {
        font-family: "Montserrat", "sans-serif";
        font-weight: 300px;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.2em;
        color: $gold;
        margin-top: 30px;
        text-transform: uppercase;
    }
    
    .copyright {
        margin-top: 30px;
        font-family: "Montserrat", "sans-serif";
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.2em;
        text-align: center;
        color: $white;
        padding: 0 12px;
    }
}

/* Extra small devices (phones, 480 px and down) */
@media only screen and (max-width: 480px) {
    .header {
        height: 1120px;

        .top-left-corner-decoration {
            height: 36px;
            width: auto;
        }
    
        .navbar {
            padding: 0 8px;
        }
    
        .navbar-item {
            padding: 2px 12px;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }

        .navbar-link {
            font-size: 8px;
        }
    
        .couple-image-wrapper {
            top: 20%;
        }
    
        .positioning-wrapper {
            .man {
                left: 50px;
            }
    
            .woman {
                right: 58px;
                top: 62px;
            }
        }
    
        .about-couple {
            .couple-description {
                width: 160px;
            }
    
            .card {
                width: 80%;
                right: 0;
                left: 0;
            }
    
            .card-decoration {
                width: 180px;
            }
        }

        .counterdown-label {
            font-size: 16px;
        }
    }

    .about-couple {
        .wrapper {
            height: 480px;
        }

        .card {
            top: 65px;
            width: 100%;
            height: 380px;
        }

        .couple-name {
            margin-top: 65px;
        }

        .card-decoration {
            width: 120px;
            height: auto;
        }
    }

    .map {
        height: 580px;
    }
}

@media only screen and (min-width: 400px) {
    .header {
        .couple-image-wrapper {
            top: 72px;
        }
    
        .positioning-wrapper {
            .man {
                left: 46px;
            }
    
            .woman {
                right: 52px;
                top: 66px;
            }
        }
    
        .couple-image {
            width: 125px;
        }
    }
}

@media screen and (min-width: 480px) {
    .header {
        height: 1110px;

        .navbar-link {
            font-size: 12px;
        }
    
        .couple-header {
            height: 365px;
            width: 480px;
            margin: 0 auto;
            float: none;
            margin-top: 30px;
        }
    
        .couple-image-wrapper {
            top: 86px;
        }
    
        .couple-image {
            width: 140px;
        }
    
        .positioning-wrapper {
            .man {
                left: 28px;
            }
    
            .woman {
                right: 28px;
            }
        }
    }

    .about-couple {
        .card {
            width: 320px;
            height: 420px;
            right: 0;
            left: 0;
        }
        
        .card-decoration {
            width: 235px;
        }

        .wrapper {
            height: 560px;
            width: 455px;
            margin-left: auto;
            margin-right: auto;
        }

        .couple-image {
            width: 180px;
            left: 32%;
        }

        .couple-name {
            margin-top: 120px;
        }

        .couple-description {
            font-size: 14px;
            line-height: 17px;
            width: 300px;
        }
    }

    .tagline {
        .icon-wrapper {
            margin-top: 60px;
        }

        .tagline-text {
            margin-top: 60px;
            font-size: 16px;
        }
    }

    .gallery {
        padding: 65px;

        .title {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .map {
        height: 640px;

        .title {
            font-size: 20px;
            line-height: 24px;
            margin-top: 65px;
        }

        .mapouter {
            margin-top: 75px;
        }
    }

    .footer {
        padding: 72px 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header {
        height: 1230px;

        .couple-header {
            margin-top: 60px;
        }
    }

    .about-couple {
        .wrapper {
            width: 570px;
            height: 570px;
        }

        .card {
            width: 420px;
            height: 420px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {    
    .about-couple {
        padding: 65px;

        .card {
            width: 420px;
            height: 420px;
            right: 0;
            left: 0;
        }

        .wrapper {
            height: 570px;
            width: 570px; 
            margin-top: 65px;           
            margin-left: auto;
            margin-right: auto;
        }

        .couple-image {
            left: 35%;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header {
        height: 750px;

        .right-section-header-content {
            margin-top: 0;
            padding: 0;
        }
    
        .navbar-wrapper {
            width: 600px;
            float: right;
        }
    
        .couple-header {
            height: 525px;
            width: 600px;
            margin-top: 90px;
            float: right;
        }
    
        .couple-image-wrapper {
            top: 18%;
        }
    
        .couple-image {
            width: 180px;
        }
    
        .positioning-wrapper {    
            .man {
                position: absolute;
                left: 0;
            }
        
            .woman {
                position: absolute;
                right: 0;
                top: 35%;
            }
        }
    
        .event-info {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }

    .about-couple {
        padding: 65px;

        .card {
            width: 420px;
            height: 420px;
            right: 0;
            left: 0;
        }

        .wrapper {
            height: 570px;
            width: 570px;
            margin: 0;

            &.man {
                margin-left: auto;
            }

            &.woman {
                margin-right: auto;
            }
        }
    }

    .tagline {
        .icon-wrapper {
            margin-top: 90px;
        }

        .tagline-text {
            margin-top: 78px;
            font-size: 18px;
        }
    }

    .map {
        .mapouter {
            margin-top: 75px;
        }
    
        .mapouter, .gmap_canvas {
            height:390px;
            width:820px;
        }
    }
}