@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Great_Vibes/GreatVibes-Regular.ttf");
}
p {
  font-size: 12px;
  font-family: "Montserrat", "sans-serif";
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Great_Vibes/GreatVibes-Regular.ttf");
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.d-flex div {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.column {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 30.33%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 20%;
}

.col-6 {
  width: 16.66%;
}

.col-7 {
  width: 14.28%;
}

.col-8 {
  width: 12.5%;
}

.col-9 {
  width: 11.11%;
}

.col-10 {
  width: 10%;
}

.col-11 {
  width: 9.09%;
}

.col-12 {
  width: 8.33%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-1-xs {
    width: 100%;
  }

  .col-2-xs {
    width: 50%;
  }

  .col-3-xs {
    width: 30.33%;
  }

  .col-4-xs {
    width: 25%;
  }

  .col-5-xs {
    width: 20%;
  }

  .col-6-xs {
    width: 16.66%;
  }

  .col-7-xs {
    width: 14.28%;
  }

  .col-8-xs {
    width: 12.5%;
  }

  .col-9-xs {
    width: 11.11%;
  }

  .col-10-xs {
    width: 10%;
  }

  .col-11-xs {
    width: 9.09%;
  }

  .col-12-xs {
    width: 8.33%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-1-sm {
    width: 100%;
  }

  .col-2-sm {
    width: 50%;
  }

  .col-3-sm {
    width: 30.33%;
  }

  .col-4-sm {
    width: 25%;
  }

  .col-5-sm {
    width: 20%;
  }

  .col-6-sm {
    width: 16.66%;
  }

  .col-7-sm {
    width: 14.28%;
  }

  .col-8-sm {
    width: 12.5%;
  }

  .col-9-sm {
    width: 11.11%;
  }

  .col-10-sm {
    width: 10%;
  }

  .col-11-sm {
    width: 9.09%;
  }

  .col-12-xs {
    width: 8.33%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-1-md {
    width: 100%;
  }

  .col-2-md {
    width: 50%;
  }

  .col-3-md {
    width: 30.33%;
  }

  .col-4-md {
    width: 25%;
  }

  .col-5-md {
    width: 20%;
  }

  .col-6-md {
    width: 16.66%;
  }

  .col-7-md {
    width: 14.28%;
  }

  .col-8-md {
    width: 12.5%;
  }

  .col-9-md {
    width: 11.11%;
  }

  .col-10-md {
    width: 10%;
  }

  .col-11-md {
    width: 9.09%;
  }

  .col-12-md {
    width: 8.33%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-1-lg {
    width: 100%;
  }

  .col-2-lg {
    width: 50%;
  }

  .col-3-lg {
    width: 30.33%;
  }

  .col-4-lg {
    width: 25%;
  }

  .col-5-lg {
    width: 20%;
  }

  .col-6-lg {
    width: 16.66%;
  }

  .col-7-lg {
    width: 14.28%;
  }

  .col-8-lg {
    width: 12.5%;
  }

  .col-9-lg {
    width: 11.11%;
  }

  .col-10-lg {
    width: 10%;
  }

  .col-11-lg {
    width: 9.09%;
  }

  .col-12-lg {
    width: 8.33%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-1-xl {
    width: 100%;
  }

  .col-2-xl {
    width: 50%;
  }

  .col-3-xl {
    width: 30.33%;
  }

  .col-4-xl {
    width: 25%;
  }

  .col-5-xl {
    width: 20%;
  }

  .col-6-xl {
    width: 16.66%;
  }

  .col-7-xl {
    width: 14.28%;
  }

  .col-8-xl {
    width: 12.5%;
  }

  .col-9-xl {
    width: 11.11%;
  }

  .col-10-xl {
    width: 10%;
  }

  .col-11-xl {
    width: 9.09%;
  }

  .col-12-xl {
    width: 8.33%;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-image: url("../images/design3/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 675px;
}
.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.5);
}
.header .header-text {
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.24em;
  color: #FFFFFF;
  margin-top: 86px;
}
.header .couple-name {
  font-family: "Great Vibes", "sans-serif";
  font-size: 84px;
  line-height: 105px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 32px;
}
.header .ampersand-style {
  font-size: 72px;
}
.header .navbar {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.header .navbar-item {
  background-color: #C0B0C0;
  padding: 9px 20px;
}
.header .navbar-item:not(:last-child) {
  margin-right: 35px;
}
.header .navbar-link {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 22px;
}
.header .slider {
  max-width: 1130px;
  margin-top: 106px;
}

.info {
  padding: 65px;
  background-color: #D1BFE3;
  position: relative;
}
.info .corner-decoration {
  position: absolute;
  top: 0;
}
.info .corner-decoration.left {
  left: 0;
}
.info .corner-decoration.right {
  right: 0;
  transform: scaleX(-1);
}
.info .title {
  font-family: "Montserrat", "sans-serif";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25em;
  color: #8A4B84;
}
.info .content-wrapper {
  display: flex;
  margin-top: 68px;
}
.info .content {
  width: 100%;
}
.info .couple-wrapper {
  position: relative;
  width: 280px;
  height: 305px;
  margin: auto;
}
.info .couple-decoration {
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
}
.info .circle-light {
  border-radius: 50%;
  border: 1px solid #C0B0C0;
  position: absolute;
  top: 15px;
  left: 0;
  width: 280px;
  height: 280px;
}
.info .circle-bold {
  border-radius: 50%;
  width: 260px;
  height: 260px;
  border: 2px solid #C0B0C0;
  top: 25px;
  left: 10px;
  position: absolute;
}
.info .couple-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.info .couple-image.man {
  top: 20px;
  left: 10px;
}
.info .couple-image.woman {
  bottom: 20px;
  right: 10px;
}
.info .counterdown {
  width: 450px;
  background-color: #966488;
  margin: 37px auto 0px auto;
  padding: 20px 0;
}
.info .counterdown-value {
  font-family: "Playfair Display", "sans-serif";
  letter-spacing: 0.25em;
  color: #E5D697;
  font-size: 54px;
  line-height: 50px;
}
.info .counterdown-label {
  font-family: "Playfair Display", "sans-serif";
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.25em;
  color: #FFFFFF;
  margin-top: 10px;
}
.info .event-info {
  max-width: 525px;
  padding: 10px;
  border: 1px solid #966488;
}
.info .event-info:not(:last-child) {
  margin-bottom: 46px;
}
.info .wrapper {
  background-color: #FFFFFF;
  padding: 22px 28px;
  display: flex;
}
.info .icon-wrapper {
  color: #8B8384;
  margin-right: 45px;
  display: flex;
  align-items: center;
}
.info .icon-wrapper .material-icons {
  font-size: 56px;
  width: 56px;
}
.info .info-content {
  font-family: "Montserrat", "sans-serif";
  color: #977963;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  align-self: center;
  text-transform: uppercase;
}

.quote {
  height: 300px;
  width: 100%;
  background-image: url("../images/design4/quote-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.quote .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote .text {
  color: #FFFFFF;
  max-width: 700px;
  text-align: center;
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.12em;
  padding: 0 12px;
}

.about {
  background-color: #D1BFE3;
  position: relative;
  padding: 65px 30px;
}
.about .corner-decoration {
  position: absolute;
  top: 0;
}
.about .corner-decoration.left {
  left: 0;
}
.about .corner-decoration.right {
  right: 0;
  transform: scaleX(-1);
}
.about .title {
  font-family: "Montserrat", "sans-serif";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25em;
  color: #8A4B84;
}
.about .love-ring {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 86px;
  height: auto;
  z-index: 1;
}
.about .couple-wrapper {
  display: flex;
  margin-top: 95px;
}
.about .couple-content {
  width: 100%;
}
.about .content-wrapper {
  display: flex;
  justify-content: space-between;
}
.about .content-wrapper.man {
  text-align: right;
}
.about .content-wrapper.man .text {
  order: 1;
}
.about .content-wrapper.man .image-wrapper {
  order: 2;
}
.about .content-wrapper.man .white-line {
  bottom: 0;
  left: 0;
}
.about .content-wrapper.man .couple-decoration {
  left: 0;
}
.about .content-wrapper.woman {
  text-align: left;
}
.about .content-wrapper.woman .text {
  order: 2;
}
.about .content-wrapper.woman .image-wrapper {
  order: 1;
}
.about .content-wrapper.woman .white-line {
  bottom: 0;
  right: 0;
}
.about .content-wrapper.woman .couple-decoration {
  right: 0;
  transform: scaleX(-1);
}
.about .text {
  max-width: 300px;
  height: 380px;
  position: relative;
}
.about .couple-name {
  font-family: "Playfair Display", "sans-serif";
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}
.about .description {
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #4D664D;
  margin-top: 30px;
}
.about .couple-image {
  width: 286px;
  height: 380px;
  object-fit: cover;
}
.about .social-icons {
  font-size: 24px;
  color: #966488;
  margin-top: 40px;
}
.about .social-icon:not(:last-child) {
  margin-right: 26px;
}
.about .white-line {
  width: 90px;
  height: 14px;
  background-color: #FFFFFF;
  position: absolute;
}
.about .image-wrapper {
  position: relative;
  width: 365px;
  height: 450px;
}
.about .couple-decoration {
  position: absolute;
  bottom: 0;
}

.map {
  width: 100%;
  position: relative;
  height: 640px;
  background-color: #FBEFEE;
}
.map .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.5);
  z-index: 1;
}
.map .title {
  font-family: "Montserrat", "sans-serif";
  letter-spacing: 0.25em;
  color: #FFFFFF;
  text-align: center;
  margin-top: 65px;
  font-size: 18px;
}
.map .mapouter {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;
  margin-top: 70px;
  width: 100%;
  z-index: 1;
}
.map .gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
}
.map .map-decoration {
  height: 640px;
  width: auto;
  object-fit: cover;
  float: right;
  transform: scaleX(-1);
}

.footer {
  background-color: #33232F;
  width: 100%;
  padding: 65px 0;
}
.footer .decoration-wrapper {
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.footer .decoration-wrapper .decoration-image {
  width: 160px;
  height: auto;
  object-fit: cover;
  position: absolute;
}
.footer .decoration-wrapper .decoration-text {
  font-family: "Great Vibes", "sans-serif";
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  font-weight: 300;
}
.footer .decoration-wrapper .decoration-text.mini {
  font-size: 18px;
  line-height: 23px;
}
.footer .decoration-wrapper .decoration-text.position-1 {
  position: absolute;
  top: 35px;
  left: 40px;
}
.footer .decoration-wrapper .decoration-text.position-2 {
  position: absolute;
  top: 60px;
  left: 65px;
}
.footer .decoration-wrapper .decoration-text.position-3 {
  position: absolute;
  top: 56px;
  left: 88px;
}
.footer .decoration-wrapper .decoration-text.position-4 {
  position: absolute;
  top: 90px;
  left: 45px;
}
.footer .social-icons {
  margin-top: 40px;
}
.footer .social-icon {
  color: #F3B9BF;
  font-size: 24px;
}
.footer .social-icon:not(:last-child) {
  margin-right: 13px;
}
.footer .social-icon:not(:first-child) {
  margin-left: 13px;
}
.footer .template-title {
  font-family: "Montserrat", "sans-serif";
  font-weight: 300px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #F3B9BF;
  margin-top: 30px;
  text-transform: uppercase;
}
.footer .copyright {
  margin-top: 30px;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #FFFFFF;
  padding: 0 12px;
}

@media only screen and (max-width: 480px) {
  .header {
    height: 780px;
  }
  .header .header-text {
    margin-top: 65px;
  }
  .header .slider {
    padding: 0px 12px;
  }
  .header .navbar {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .header .navbar-item {
    padding: 2px 12px;
  }
  .header .navbar-item:not(:last-child) {
    margin-right: 8px;
  }
  .header .navbar-link {
    font-size: 8px;
  }
  .header .couple-name {
    margin-top: 50px;
  }
  .header .man-style {
    display: block;
  }
  .header .slider {
    margin-top: 50px;
  }
  .header .slider img {
    height: 240px;
  }

  .info {
    padding: 65px 12px;
  }
  .info .content-wrapper {
    flex-wrap: wrap;
  }
  .info .counterdown {
    width: 100%;
    padding: 20px 0;
  }
  .info .counterdown-label {
    font-size: 12px;
  }
  .info .event-info-wrapper {
    margin-top: 46px;
  }
  .info .event-info {
    width: 100%;
  }
  .info .info-content {
    font-size: 14px;
  }
  .info .icon-wrapper {
    margin-right: 24px;
  }
  .info .icon-wrapper .material-icons {
    font-size: 48px;
  }

  .about {
    padding: 65px 12px;
  }
  .about .love-ring {
    position: initial;
    margin: 65px auto 0 auto;
    display: block;
  }
  .about .couple-wrapper {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 65px;
  }
  .about .couple-content:first-child {
    margin-bottom: 65px;
  }
  .about .content-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about .content-wrapper.man {
    text-align: center;
  }
  .about .content-wrapper.man .text {
    order: 2;
  }
  .about .content-wrapper.man .image-wrapper {
    order: 1;
  }
  .about .content-wrapper.woman {
    text-align: center;
  }
  .about .text {
    height: initial;
    margin-top: 35px;
  }
  .about .image-wrapper {
    width: 350px;
    height: 432px;
  }
  .about .couple-decoration {
    width: 260px;
  }
  .about .white-line {
    display: none;
  }

  .quote .text {
    font-size: 12px;
  }
}
@media only screen and (min-width: 480px) {
  .header {
    height: 780px;
  }
  .header .header-text {
    margin-top: 65px;
  }
  .header .slider {
    padding: 0px 12px;
  }
  .header .navbar {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .header .navbar-item {
    padding: 2px 12px;
  }
  .header .navbar-item:not(:last-child) {
    margin-right: 8px;
  }
  .header .navbar-link {
    font-size: 8px;
  }
  .header .couple-name {
    margin-top: 50px;
  }
  .header .man-style {
    display: block;
  }
  .header .slider {
    margin-top: 50px;
  }
  .header .slider img {
    height: 240px;
  }

  .info {
    padding: 65px 12px;
  }
  .info .content-wrapper {
    flex-wrap: wrap;
  }
  .info .counterdown {
    width: 100%;
  }
  .info .counterdown-label {
    font-size: 12px;
  }
  .info .event-info-wrapper {
    margin-top: 46px;
  }
  .info .event-info {
    width: 100%;
  }
  .info .info-content {
    font-size: 14px;
  }
  .info .icon-wrapper {
    margin-right: 24px;
  }
  .info .icon-wrapper .material-icons {
    font-size: 48px;
  }

  .about {
    padding: 65px 12px;
  }
  .about .love-ring {
    position: initial;
    margin: 65px auto 0 auto;
    display: block;
  }
  .about .couple-wrapper {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 65px;
  }
  .about .couple-content:first-child {
    margin-bottom: 65px;
  }
  .about .content-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about .content-wrapper.man {
    text-align: center;
  }
  .about .content-wrapper.man .text {
    order: 2;
  }
  .about .content-wrapper.man .image-wrapper {
    order: 1;
  }
  .about .content-wrapper.woman {
    text-align: center;
  }
  .about .text {
    height: initial;
    margin-top: 35px;
  }
  .about .image-wrapper {
    width: 350px;
    height: 432px;
  }
  .about .couple-decoration {
    width: 260px;
  }
  .about .white-line {
    display: none;
  }

  .quote .text {
    font-size: 12px;
  }
}
@media only screen and (min-width: 600px) {
  .header .navbar-item {
    padding: 9px 20px;
  }
  .header .navbar-item:not(:last-child) {
    margin-right: 35px;
  }
  .header .navbar-link {
    font-size: 12px;
  }

  .info .counterdown {
    width: 450px;
  }
  .info .counterdown-label {
    font-size: 22px;
  }
  .info .event-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote .text {
    font-size: 18px;
  }

  .about .content-wrapper.man .text {
    order: 2;
  }
  .about .content-wrapper.man .image-wrapper {
    order: 1;
  }
  .about .content-wrapper.woman .text {
    order: 1;
  }
  .about .content-wrapper.woman .image-wrapper {
    order: 2;
  }
  .about .text {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    height: 730px;
  }
  .header .header-text {
    margin-top: 86px;
  }
  .header .couple-name {
    margin-top: 32px;
  }
  .header .man-style {
    display: inline-block;
  }

  .info .content {
    width: 50%;
  }

  .quote {
    font-size: 18px;
  }

  .about .love-ring {
    position: absolute;
    margin: 0 auto;
  }
  .about .couple-wrapper {
    margin-top: 95px;
  }
  .about .couple-content {
    width: 50%;
  }
  .about .couple-content:first-child {
    margin-bottom: 0;
  }
  .about .content-wrapper {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .about .content-wrapper.man {
    text-align: right;
  }
  .about .content-wrapper.man .text {
    order: 1;
  }
  .about .content-wrapper.man .image-wrapper {
    order: 2;
  }
  .about .content-wrapper.woman {
    text-align: left;
  }
  .about .content-wrapper.woman .text {
    order: 2;
  }
  .about .content-wrapper.woman .image-wrapper {
    order: 1;
  }
  .about .image-wrapper {
    width: 335px;
    height: 450px;
  }
  .about .couple-decoration {
    width: initial;
  }
  .about .white-line {
    display: block;
  }
}

/*# sourceMappingURL=design4.css.map */
